{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": -23.08107408968505,
    "longitude": -47.220783233642585,
    "elevation": 650,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "America/Sao_Paulo",
    "external_url": null,
    "internal_url": null,
    "currency": "BRL",
    "country": "BR",
    "language": "en"
  }
}